<app-navbar [user]="societe"></app-navbar>
<p-toast position="top-right"></p-toast>
<p-messages [style]="{width: '200px','float':'right'}" [value]="msgs"></p-messages>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div style="background-color: rgb(243, 218, 186);">
<div class="container add">

   <mat-tab-group class="card wizard-card" mat-stretch-tabs>
       <mat-tab label="Mes parametres de connexion" >
      <form #f="ngForm" (ngSubmit)="Submit(f)"> 
      
          <div class="  row" >
            <div class="card-header container">
            <h4 class="card-title text-dark text-center">
                Pour modifier le mot de passe actuel, saisissez le nouveau mot de passe dans les deux champs de texte.
            </h4> 
            </div>
            <div class="card-body ">
              <div class=" col-g-5" >
                 <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                             <mat-form-field class="example-full-width">
                                <mat-label>Adresse Mail</mat-label>
                                <input type="mail" matInput name="email" [(ngModel)]="societe.email"><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                    </div>
                         
                  <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Mot de passe</mat-label>
                                <input type="password" name="password" matInput [(ngModel)]="societe.password"><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                    </div>

                  <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Confirmer mot de passe</mat-label>
                                <input type="password" matInput (keyup)="onKeyUpEvent($event)" #c><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                    <div [hidden]=!notSame> veillez entrer le meme mot de passe</div>
                   </div>

                </div>
                <div  [ngStyle]="{'float':'right','margin':'20px'}">
               <button type="submit" pButton [disabled]=notSame label="Enregistrer" class="ui-button-success"></button>
             </div>
              </div>
          </div> 
        </form> </mat-tab>

       <mat-tab label="Information Personnel">
           <form #f1="ngForm"  (ngSubmit)="Submit(f1)"> 
            <div class="  row" >
          <div class="card-header container">
          <h4 class="card-title text-dark text-center">
          INFORMATIONS DU RECRUTEUR 
          </h4>
          </div>
          <div class="card-body ">
            <div class=" col-g-5" >
                
                <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Nom de la societe</mat-label>
                                <input type="text" matInput name="name" [(ngModel)]="societe.name"><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                   </div>
                       
                   <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Description</mat-label>
                                <input type="text" matInput name="description" [(ngModel)]="societe.description" ><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                   </div>
     
                   <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Emplacement</mat-label>
                                <input type="text" matInput name="emplacement" [(ngModel)]="societe.emplacement"><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                   </div>

            </div> 
          </div>
          <div class="card-body ">
              <div class=" col-g-12 ">
                <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            
                <mat-form-field class="example-full-width">
                    <mat-label>Secteur d'activite</mat-label>
                    <input type="text" matInput name="secteuractivite" [(ngModel)]="societe.secteuractivite"><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                </mat-form-field>
            </div>
        </div>
       </div>

       <div class="form-group" >
        <div class="p-field p-col-12 p-md-4">
            <div class="p-inputgroup">
                
                <mat-form-field class="example-full-width">
                    <mat-label>Num tel</mat-label>
                    <input type="text" matInput name="numtel" [(ngModel)]="societe.numtel"><!--[placeholder]="societe.email" [placeholder]="societe.email"-->
                </mat-form-field>
            </div>
        </div>
       </div>

              </div>
              <div  [ngStyle]="{'float':'right','margin':'20px'}"><!--[disabled]="f.invalid"-->
             <button type="submit"  pButton  label="Enregistrer" class="ui-button-success"></button>
           </div>
            </div>
        </div> 
      </form> </mat-tab>

      <mat-tab label="Mes Offres" >
        <div style="background: -webkit-linear-gradient(left, #c0c8cc, #5e6263);
        background: linear-gradient(to right, #8c9092, #686b6b);
        font-family: 'Roboto', sans-serif; height: 657px;" >
        <div class="container card-header" >
        
        <div style="background-color:a #f1f2f3;height: 500px;"class="card " >
            <div class="card-header container">
                <h4 class="card-title text-dark text-center">
                MES OFFRES
                </h4>
                </div>
        <p-table [value]="offers" [scrollable]="true" scrollHeight="500px" >
          <ng-template pTemplate="header" >
            <tr>


              <th>Mission</th>
              <th>Date début</th>
              <th>Date fin</th>
              <th>categories</th>
              <th>Liste</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-offer>
            <tr>

              <td>{{offer.mission}}</td>
              <td>{{offer.datedebut | date }}</td>
              <td>{{offer.datefin | date}}</td>
              <td>{{offer.categories}}</td>
              
              <td>
                <button class="btn btn-danger" (click)="sendOffer(offer)">Liste des Etudiants</button> 
            </td>
              <td>            
                <button class="btn btn-default text-primary" style="float: right;border: 1px solid gray;" (click)="onEdit(offer)">Modifier</button>
                <button type="button" pButton [ngStyle]="{'height':'40px','width':'50px'}" icon="pi pi-trash" iconPos="left" class="ui-button-danger" (click)="confirm2(offer)" style="float: left;"></button>
            </td>


            </tr>
          </ng-template>
        </p-table>
        </div>
        </div>
        </div>
         </mat-tab>
  

     </mat-tab-group>
</div></div>
