input.ng-valid { border-left: 2px solid green; }
input.ng-invalid { border-left: 2px solid red; }
.add{
    padding: 25px;
    height: 580px;
}
.card-content{
    background-color:white;
    margin: 10px;
    border-radius: 20px;
    height: 500px;
}
ul{
    color:black;
}
.wizard-card {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    
h1{
    color:black;
}
input{
    height: 50px;

}
i{  color:rgb(29, 138, 120);
    width: 30px;
    height: 30px;
}