<app-navbar [user]="etudiant"></app-navbar>
<p-toast position="top-right"></p-toast>
<!--<div>
  <form [formGroup] = "uploadForm" (ngSubmit)="Submit()">      
    <div>
      <input  matInput  [(ngModel)]="offre.nomsociete"  formControlName="nomsociete">
      <input type="file" formControlName="cv" (change)="onFileSelect($event)" />
      <textarea  matInput  [(ngModel)]="offre.mission" formControlName="mission" rows=5 cols=50></textarea>
      <input  matInput [hidden]=true [(ngModel)]="offre._id" formControlName="id_offer" >
      <input  matInput [hidden]=true [(ngModel)]="etat" formControlName="et" >
      <input  matInput [hidden]=true [(ngModel)]="enabled" formControlName="enab" >
      <input  matInput  [(ngModel)]="etudiant.name" id="nom" formControlName="nom">
      <input  matInput  [(ngModel)]="etudiant.prenom"  formControlName="prenom"   >
      <input  matInput  [(ngModel)]="etudiant.email" id="email" formControlName="email"  >
      <input  matInput  placeholder="+216" id="telephone" formControlName="telephone" [(ngModel)]="tel" required>
      <input  matInput  placeholder="DSI" id="specialite" formControlName="specialite" [(ngModel)]="spec" required>
      <textarea matInput placeholder="Votre lettre" id="motiv" formControlName="lettre_motivation" [(ngModel)]="motiv" required></textarea>

    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>-->
<div class="container add">
  <p-toast position="top-right"></p-toast>
    <div class='c'>
    <div class="row" >
       
       <div class="card-header container " [ngStyle]="{backgroundImage:'url(../assets/img/b.jpg)'}" >
          <h1 class="card-title text-dark text-center">
          FORMULAIRE DE CANDIDATURE DE STAGE 
          </h1>
          </div>
    </div>
    
<div class=" d-flex justify-content-center" [ngStyle]="{backgroundImage:'url(../assets/img/b.jpg)'}">
     <div>
        <form class="example-form" [formGroup] = "uploadForm" (ngSubmit)="Submit()" style="background-color: rgba(243, 243, 243, 0.363);">
          <h2 class="card-header container ">
      
            <mat-label class="b">Postuler dans l'offre de la société :</mat-label>
            
            <input  matInput  [(ngModel)]="offre.nomsociete"  formControlName="nomsociete">
      
          
          </h2>
          <div class="card-header container ">
            
              <mat-label class="b">Votre sujet choisi :</mat-label>
              
      <textarea  matInput  [(ngModel)]="offre.mission" formControlName="mission" rows=5 cols=50></textarea>
      <input  matInput [hidden]=true [(ngModel)]="offre._id" formControlName="id_offer" >
      <input  matInput [hidden]=true [(ngModel)]="et" formControlName="etat" >
      <input  matInput [hidden]=true [(ngModel)]="enab" formControlName="enabled" >
            
            </div>
            <div style="background-color: rgba(243, 243, 243, 0.363);">
               
           <mat-form-field class="full-width" appearance="outline" style="background-color: rgba(243, 243, 243, 0.363);">
                 <mat-label >Nom </mat-label>
      <input  matInput  [(ngModel)]="etudiant.name" id="nom" formControlName="nom">
    </mat-form-field>

    
    <mat-form-field class="full-width" appearance="outline" style="background-color: rgba(243, 243, 243, 0.363);">
      <mat-label>Prenom </mat-label>
      <input  matInput  [(ngModel)]="etudiant.prenom"  formControlName="prenom"   >
</mat-form-field>
            <p>
              
               <mat-form-field class="full-width" appearance="outline" style="background-color: rgba(243, 243, 243, 0.363);">
                  <mat-label>Email</mat-label>
      <input  matInput  [(ngModel)]="etudiant.email" id="email" formControlName="email"  >
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline" style="background-color: rgba(243, 243, 243, 0.363);">
                
                   
          
                  <mat-label>Télèphone</mat-label>
      <input  matInput  placeholder="+216" id="telephone" formControlName="telephone" [(ngModel)]="tel" required>                            
                </mat-form-field>        
                </p>
        
             
               <mat-form-field class="full-width" appearance="outline" style="background-color: rgba(243, 243, 243, 0.363);">
                <mat-label>Spécialité</mat-label>
      <input  matInput  placeholder="DSI" id="specialite" formControlName="specialite" [(ngModel)]="spec" required>                
             </mat-form-field>
                      
             <div class="card" style="background-color: rgba(243, 243, 243, 0.363);">   
               <input type="file" name="cv" (change)="onFileSelect($event)" />
             </div>

             <mat-form-field class="full-width" appearance="outline" style="background-color: rgba(243, 243, 243, 0.363);">
                <mat-label>Lettre de motivation</mat-label>
      <textarea matInput placeholder="Votre lettre" id="motiv" formControlName="lettre_motivation" [(ngModel)]="motiv" required></textarea>
              </mat-form-field>
             
             <div  [ngStyle]="{'float':'right','margin':'20px'}">
                <button type="submit"  pButton  label="Envoyer" class="ui-button-success"></button>
              </div>

            </div>
        </form>
      </div>
        
    
      
    </div>
    </div>
    </div>