<app-navbar></app-navbar>
<div class="container add">
   
    <div class='c'>
    <div class="row" >
       
       <div class="card-header container ">
          <h1 class="card-title text-dark text-center">
          FORMULAIRE DE CANDIDATURE DE STAGE 
          </h1>
          </div>
    </div>
    

    
    <div class=" d-flex justify-content-center">
     
        <form class="example-form" #f="ngForm"  (ngSubmit)="Submit(f)">
          <h2 class="card-header container ">
      
            <mat-label class="b">Postuler dans l'offre de la société :</mat-label>
            
      <input  matInput  [(ngModel)]="offre.nomsociete" name="nomsociete" >
      
          
          </h2>
          <div class="card-header container ">
            
              <mat-label class="b">Votre sujet choisi :</mat-label>
              
      <input  matInput  [(ngModel)]="offre.mission" name="mission" >
      <input  matInput [hidden]=true [(ngModel)]="offre._id" name="id_offer" >
      <input  matInput [hidden]=true [(ngModel)]="etat" name="etat" >
      <input  matInput [hidden]=true [(ngModel)]="enabled" name="enabled" >
            
            </div>
           <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Nom </mat-label>
                  
    <input  matInput  [(ngModel)]="etudiant.name"   id="nom" name="nom"   >
       <i class="pi pi-user"></i>
    
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Prenom </mat-label>
      
<input  matInput  [(ngModel)]="etudiant.prenom"  name="prenom"   >
<i class="pi pi-user"></i>

</mat-form-field>
            <p>
              
               <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input  matInput  [(ngModel)]="etudiant.email" id="email" name="email"  >
                   <i class="pi pi-Email"></i>
             
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                
                   
          
                  <mat-label>Télèphone</mat-label>
                 
                  <input  matInput  placeholder="+216" id="telephone" name="telephone" [(ngModel)]="telephone" #tele="ngModel" required>
                
                   <i class="pi pi-phone"></i>
                
                </mat-form-field>
                
                </p>
               <div  [hidden]="!tele.errors?.required || tele.pristine" class="alert alert-danger">
                Le téléphone est un champ obligatoire
            </div> 
          
            
              
             
               <mat-form-field class="full-width" appearance="outline">
                <mat-label>Spécialité</mat-label>
                <input  matInput  placeholder="DSI" id="specialite" name="specialite" [(ngModel)]="specialite" #spec="ngModel" required>
                
             </mat-form-field>
             <div  [hidden]="!spec.errors?.required || spec.pristine" class="alert alert-danger">
                La spécialite est un champ obligatoire
            </div> 
    
             
            
            
        
             <div class="card">
                <h5>CV</h5>
    <p-fileUpload name="cv" url="./upload.php" (onUpload)="onUpload($event)"
            multiple="multiple"  maxFileSize="1000000" [(ngModel)]="uploadedFiles">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>
            
             </div>
             <mat-form-field class="full-width" appearance="outline">
                <mat-label>Lettre de motivation</mat-label>
                <textarea matInput placeholder="Votre lettre" id="motiv" name="lettre_motivation" [(ngModel)]="motiv" #mo="ngModel" required></textarea>
              </mat-form-field>
              <div  [hidden]="!mo.errors?.required || mo.pristine" class="alert alert-danger">
                La lettre de motivation est un champ obligatoire
            </div> 
             
             <div  [ngStyle]="{'float':'right','margin':'20px'}">
                <button type="submit"  pButton  label="Envoyer" class="ui-button-success"></button>
              </div>
        </form>
        
    
      
    </div>
    </div>
    </div>
    
    