<app-navbar [user]="user"></app-navbar>
<h1 [ngStyle]="{'margin':'30px','font-weight':'bold'}">Liste des Etudiants affectés </h1>
<div class="card" [ngStyle]="{'margin':'30px'}">     
 <div class="content-section implementation" >
    
    <p-table [value]="etds" dataKey="id"><!--sortField="niveau" sortMode="single" (onSort)="onSort()"-->
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success "  pTooltip="XLS" tooltipPosition="bottom" style="height:50px;"></button>
                <!--<button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning " pTooltip="PDF" tooltipPosition="bottom" style="height:50px;"></button>-->
                     
                   
                </div>
        </ng-template>
       <ng-template pTemplate="header" let-columns>
        <tr>
           
            <th *ngFor="let col of cols">
                {{col.header}}
            </th> 
        </tr>                      
    </ng-template>
    
    <ng-template pTemplate="body" let-etudiant>
        <tr >
           
            <td>
                {{etudiant.nomsociete}}
                 
            </td>
            <td>
                {{etudiant.mission}}
            </td>
            <td>
                {{etudiant.nom}}
            </td>
            <td>
                {{etudiant.prenom}}
            </td>
           
            <td>
                <span class="image-text">{{etudiant.email}}</span>
            </td>
          
            <td>                      
                <span class="badge text-white"
                  [ngClass]="{' bg-danger  mr-1' : etudiant.etat.trim() == 'Non Affecté' ,
                'bg-success ': etudiant.etat.trim() == 'Affecté'}">{{etudiant.etat}}</span>
                 </td>
           
        </tr>
    </ng-template>
    
     </p-table>
   </div>

   

</div>