<app-navbar [user]="etudiant"></app-navbar>
<p-toast position="top-right"></p-toast>
<div style="background-color: rgb(243, 218, 186);">
<div class="container add">

   <mat-tab-group class="card wizard-card" mat-stretch-tabs>
       <mat-tab label="Mes parametres de connexion" >
      <form #f="ngForm" (ngSubmit)="Submit(f)"> 
      
          <div class="  row" >
            <div class="card-header container">
            <h4 class="card-title text-dark text-center">
                Pour modifier le mot de passe actuel, saisissez le nouveau mot de passe dans les deux champs de texte.
            </h4>
            </div>
            <div class="card-body ">
              <div class=" col-g-5" >
                <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Adresse Mail</mat-label>
                                <input type="text" matInput name="email" [(ngModel)]="etudiant.email"><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                    </div>
                         
                  <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Mot de passe</mat-label>
                                <input type="password" matInput name="password" [(ngModel)]="etudiant.password"><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                    </div>

                  <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Confirmer mot de passe</mat-label>
                                <input type="password" matInput ><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                   </div>

                </div>
                <div  [ngStyle]="{'float':'right','margin':'20px'}">
               <button type="submit" pButton  label="Enregistrer" class="ui-button-success"></button>
             </div>
              </div>
          </div> 
        </form> </mat-tab>

       <mat-tab label="Information Personnel">
           <form #f1="ngForm"  (ngSubmit)="Submit(f1)"> 
            <div class="  row" >
          <div class="card-header container">
          <h4 class="card-title text-dark text-center">
          INFORMATIONS DE L'ETUDIANT 
          </h4>
          </div>
          <div class="card-body ">
            <div class=" col-g-5" >
                
                <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Nom</mat-label>
                                <input type="text" matInput name="name" [(ngModel)]="etudiant.name"><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                   </div>
                       
                   <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Prenom</mat-label>
                                <input type="text" matInput name="prenom" [(ngModel)]="etudiant.prenom"><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                   </div>
     
                   <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                           
                            <mat-form-field class="example-full-width">
                                <mat-label>Cin</mat-label>
                                <input type="text" matInput name="cin" [(ngModel)]="etudiant.cin"><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                            </mat-form-field>
                        </div>
                    </div>
                   </div>

            </div> 
          </div>
          <div class="card-body ">
              <div class=" col-g-12 ">
                <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            
                <mat-form-field class="example-full-width">
                    <mat-label>Niveau d'études</mat-label>
                    <input type="text" matInput name="niveau" [(ngModel)]="etudiant.niveau"><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                </mat-form-field>
            </div>
        </div>
       </div>

       <div class="form-group" >
        <div class="p-field p-col-12 p-md-4">
            <div class="p-inputgroup">
                
                <mat-form-field class="example-full-width">
                    <mat-label>Num tel</mat-label>
                    <input type="text" name="numtel" [(ngModel)]="etudiant.numtel" matInput ><!--[placeholder]="etudiant.email" [(ngModel)]="etudiant?.email"-->
                </mat-form-field>
            </div>
        </div>
       </div>

              </div>
              <div  [ngStyle]="{'float':'right','margin':'20px'}"><!--[disabled]="f.invalid"-->
             <button type="submit"  pButton  label="Enregistrer" class="ui-button-success"></button>
           </div>
            </div>
        </div> 
      </form> </mat-tab>

      
   
    <mat-tab label="Mes Offres" >
        <div style="background: -webkit-linear-gradient(left, #c0c8cc, #5e6263);
        background: linear-gradient(to right, #8c9092, #686b6b);
        font-family: 'Roboto', sans-serif; height: 657px;" >
        <div class="container card-header" >
            <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <div style="background-color:a #f1f2f3;height: 500px;"class="card " >
            <div class="card-header container">
                <h4 class="card-title text-dark text-center">
                MES OFFRES
                </h4>
                </div>
        <p-table [value]="offers" [scrollable]="true" scrollHeight="500px" >
          <ng-template pTemplate="header" >
            <tr>
            <th>Nom Societe</th>
            <th>Mission</th>
            <th>Etat</th>
            <th>Action</th>
           
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-offer>
            <tr>
                <td>{{offer.nomsociete}}</td>
              <td>{{offer.mission}}</td>
             
              <td>
              <span class="badge text-white"
              [ngClass]="{' bg-danger  mr-1' : offer.etat.trim() == 'Non Affecté' ,
            'bg-success ': offer.etat.trim() == 'Affecté'}">{{offer.etat}}</span></td>
              <td>  
                <button type="button" pButton [disabled]="offer.etat.trim() == 'Non Affecté'" [ngStyle]="{'height':'40px','width':'50px'}" icon="pi pi-check" iconPos="left" class="ui-button-danger" (click)="confirm(offer)" label="Accepter?" style="float: left;"></button>
              
               
                <!--<button [disabled]="offer.etat.trim() == 'Non Affecté'" (click)="confirm(offer)" pButton icon="pi pi-check" label="Confirm"></button>-->
            </td>
            
             

            </tr>
          </ng-template>
        </p-table>
        </div>
        </div>
        </div>
    </mat-tab>

     </mat-tab-group>
</div></div>
