  <div class="box bg-teal-500 p-6">
    <p-sidebar [(visible)]="display" [style]="{'backgroundColor':'rgb(15, 155, 155)'}">
      <a [routerLink]="['../accueil']" class="x" style="font-size: 1.5em;" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white ">
        Accueil
    </a>
    <a [routerLink]="['../listeOffres']" style="font-size: 1.5em;" class="block mt-4 lg:mt-0 text-teal-200 hover:text-white ">
      Liste Des Offres
  </a>
     
     </p-sidebar>
    <i class="pi pi-list " (click)="display = true" style="font-size: 2em;cursor: pointer;color:floralwhite"></i>
    
    <div class="push"><div class="text-sm lg:flex-grow">
    <a [routerLink]="['../login']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
      S'authentifier
    </a>
      <a [routerLink]="['../signUp']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Creer un compte
      </a>
      <a (click)="logout()" [hidden]="test" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Se deconnecter
    </a>
  </div></div>
  </div>