    
        <!--{% if not app.user %}
            <a href="" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"> Connexion</a>
            <a href="" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">Inscription</a>
         {% else %}
            <a href="{{ path('deconnexion') }}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">Deconnexion</a>
        {% endif %}
        -->
  
  <div class="box bg-teal-500 p-6">
    <p-sidebar [(visible)]="display">
      <a [routerLink]="['accueil']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Accueil
    </a>
  <!--<a [hidden]=unite [routerLink]="['login']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
    Liste Etudiant
  </a>
 
    <a  (click)="verifprofil(id)" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
        Mon Profil
    </a> -->
     </p-sidebar>
    
    <p-button type="text"  (click)="display = true" icon="pi pi-plus" label="Show"></p-button>
    
    <div class="push"><div class="text-sm lg:flex-grow">
      <a [routerLink]="['accueil']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Accueil
      </a>
    <a [routerLink]="['login']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
      S'authentifier
    </a>
   
      <a [routerLink]="['signUp']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Creer un compte
      </a>
  </div></div>
  </div>