<app-navbar [user]="societe"></app-navbar>
<p-toast position="top-right"></p-toast><!--background: -webkit-linear-gradient(left, #c0c8cc, #5e6263);
  background: linear-gradient(to right, #8c9092, #686b6b);-->
<div style="font-family: 'Roboto', sans-serif; height: 657px;" >
<div class="container card-header" >

<div style="background-color:a #8a8d91;height: 500px;"class="card " >
  <div class="card-header container">
    <h4 class="card-title text-dark text-center" style="font-weight: bold;">
    Liste des CANDIDATURES
    </h4>
    </div>
<p-table [value]="etudiants" [scrollable]="true" scrollHeight="500px" >
  <ng-template pTemplate="header" >
    <tr>
      <th>nom Etudiant</th>
      <th>E-mail</th>
      <th>Numero de Telephone</th>
      <th>CV Etudiant</th> 
      <th>Lettre de motivation</th>
      <th>Etat</th>
      <th>Decision</th>
   <th></th>
     

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-etudiant>
    <tr>
   
      <td>{{etudiant.nom}}</td>
      <td>{{etudiant.email}}</td>
      <td>{{etudiant.telephone}}</td>
      <td> 
        <div style="display: flex;">
          <button pButton pRipple type="button" label=" Voir Cv" class="p-button-raised p-button-secondary p-button-text btn-sm" (click)="openDoc(etudiant.cv, test)">
       
    </button>
    <button type="button" (click)="downloadPdf(etudiant.cv, test)" class="p-button-rounded p-button-danger">
      <i class="pi pi-download"></i>
    </button>
    
    </div>
</td>
      <td> {{etudiant.lettre_motivation}}</td>
      <td> <span class="badge "
        [ngClass]="{' bg-danger  mr-1' : etudiant.etat.trim() == 'Non Affecté' , 
      'bg-success ': etudiant.etat.trim() == 'Affecté'}">{{etudiant.etat}}</span>
      </td>
    <td><p-inputSwitch  size="small" (click)="onChangeetat($event, etudiant)"></p-inputSwitch></td>
    

    <td><button (click)="notify(etudiant)"  pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning">
</button> </td>
      
      
    </tr> 
  </ng-template>
</p-table>
</div>
</div>
<button class="open-button" (click)="openForm()">Chat</button>
<div class="chat-popup" id="myForm">
  <div class="chat-messages-show-container">
    <ul class="chat-messages-show-list" id="message-list">
    </ul>
  </div>
  <div class="chat-messages-create-container"> 
    <input class="chat-messages-create-input" type="text" [(ngModel)]="message">
    <button  class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
    <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
  </div>
</div>
  
</div>