<app-navbar [user]="user"></app-navbar>
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5" style="color:white;">Trouvez les meilleurs services de Stage qui reponds a vos Besoins!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
           
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="text" class="form-control form-control-lg" placeholder="Chercher un stage...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Valider!</button>
            </div>
            <a [hidden]=unite [routerLink]="['../listeEtudiants']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              Approuver Etudiant
            </a>
            <a [hidden]=unite [routerLink]="['../listeRecruteurs']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              Approuver Recruteur
            </a>
            <a [hidden]=unite [routerLink]="['../VerifOffres']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              Approuver Offre
            </a>
            <a [hidden]=societe [routerLink]="['../postuler-offre']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              Publier une Offre 
            </a>
            <a  (click)="verifprofil()" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              Mon Profil

          </a>
          <a  [hidden]=unite [routerLink]="['../etudiantAffecte']"  class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
            etudiants Affectés
          <a [hidden]=unite  [routerLink]="['../listeEtudiantsNonAffecte']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
            Etudiants non affectés
        </a>
</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>


<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="pi pi-bell" style="z-index: auto;margin-left: 130px;"></i>  
          </div>
          <h3>Services</h3>
          <p class="lead mb-0">Trouvez des services de haute qualité à tous les prix. Pas de tarifs horaires, mais une tarification en fonction des projets.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="pi pi-palette" style="z-index: auto;margin-left: 120px;"></i>          </div>
          <h3>Qualité</h3>
          <p class="lead mb-0">Trouvez en quelques minutes le Stage idéal pour commencer à travailler sur votre projet.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="pi pi-unlock" style="z-index: auto;margin-left: 120px;"></i>          </div>
          <h3>Sécurité</h3>
          <p class="lead mb-0">Vous savez toujours à l'avance ce que vous allez payer. Votre paiement n'est pas débloqué tant que vous n'avez pas approuvé le travail.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">


      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Soyez Confient !</h2>
        <p class="lead mb-0">Mettez-vous en relation avec des encadreurs ayant une expérience confirmée dans le domaine des <strong>stages</strong>.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Plus que 200 Entreprise</h2>
        <p class="lead mb-0">Trouvez le talent nécessaire a la <strong>Réalisation</strong> de votre stage.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Simple a utiliser &amp; Maintenir</h2>
        <p class="lead mb-0">Au cœur de la transformation du monde du travail, nous accélérons, ensemble, le succès des talents et des entreprises.
          Nos clients nous utilisent pour la sécurisation des services fournis, nous reconnaissent pour le transfert d’autonomie, nous gratifient de la liberté procurée.
          Simples, transparentes, intelligentes, collaboratives, nos solutions libèrent la vie des entreprises et des talents.</p>
      </div>
    </div>
  </div>
</section>


<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"C'est Fantastique, merci enormement les gars!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"Ceci a resolue tout mes problèmes ,Merci!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Merci de faire ca gratuitement !"</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
      </div>
    </div>
  </div>
</section>


